/* Définition du style de la page */



/* Style slider */


.page-header
{
  margin: 40px 100px 20px;
  border-bottom: 2px solid #BADA55;
}



/*.slide img
{
  width: 800px;
  margin: 20px 0 30px 520px;
  height: auto;
  box-shadow:  10px 10px 10px #3232321a;
}*/
.slide img
{
  width: 50%;
  height: auto;
  margin: 20px 0 30px 450px;
  box-shadow:  10px 10px 10px #3232321a;
}


/* Carousel */
.carousel{
  position: relative;
  overflow: hidden;
}

.carousel_item
{
  float: left;
  height: auto;
}

.carousel_container {
  transition: transform 0.3s;
  transform: translate3d(0, 0, 0);
}

.carousel_container::after
{
  content: " ";
  clear: both;
  display: table;
}
.carousel_next, .carousel_prev
{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: rgba(100, 100, 100, 0.7);
  background-size: 20px 20px;
  border-radius: 50%;
  top: 50%;
  margin-top: -30px;
  right: -30px;
  box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
  cursor: pointer;
  transition: 0.3s;
}
.carousel_next:hover, .carousel_prev:hover
{
  transform: scale(1.2);
}
.carousel_prev
{
  right: auto;
  left: -30px;
}
.carousel_prev-hidden, .carousel_next-hidden
{
  display: none;
}

.carousel_pagination
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.caroussel_pagination_button
{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
  background-color: #BADA55;
  box-shadow: 0 2px 5px #3232321a;
  transition: transform 0.3s;
  cursor: pointer;
  }

.caroussel_pagination_button-active, .caroussel_pagination_button:hover
{
  transform: scale(1.4);
  background-color: green;
}
/* Style section */

section
{
  margin-top: 50px;
}


#map_velo
{
  height: 400px;
  box-shadow: 10px 10px 10px darkgrey;
}


fieldset
{
  height: fit-content;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 5px;
  background-color: white;
  border: 2px solid #BADA55;
  border-radius: 8px;
  box-shadow: 7px 7px 7px darkgrey;
}

legend
{
  padding-left: 55px;
  border-radius: 25%;
  border-bottom: 1px solid #BADA55;
}

.info_form
{
  display: none;
}
#selection
{
  margin: 0 2rem 2rem 2rem;
  font-weight: 600;
}



#reservation
{
  margin: 1rem 4rem 1rem 7rem;
}

#help_resa
{
  display: none;
  height: 60px;
  margin-top: 20px;
  padding: 8px;
  background-color: orange;
  border : 1px solid #BADA55;
  border-radius: 8px 8px 0 8px;
  box-shadow: 7px 7px 7px darkgrey;
  text-align: center;
}

footer
{
  margin-top: 80px;
  margin-bottom: 400px;
}
#resa_recap
{
  border : 2px solid #BADA55;
  border-radius: 8px;
  box-shadow: 7px 7px 7px darkgrey;
  font-size: 2rem;
  text-align: center;
}
#annulation
{
  display: none;
  margin-left: 30px;
  margin-top: 10px;
  padding: 10px 0 10px 0;
  background-color: orange;
  border : 2px solid #BADA55;
  border-radius: 8px;
  box-shadow: 7px 7px 7px darkgrey;
  font-size: 2rem;
  text-align: center;
  transition: transform 0.3s;
  cursor: pointer;
}
#annulation:hover
{
  transform: scale(1.2);
  background-color: red;
  box-shadow: 10px 8px 8px darkgrey;
  color: white;
}

#resa_complete
{
  display: none;
}


#canvas_container
{
  display: none;
}
#canvas
{
  width: 300px;
  height: 150px;
  margin-top: 20px;
  margin-left: 25px;
  border: 1px solid black;
  box-shadow: 7px 7px 7px darkgrey;
}

#box_boutons
{
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

#valider_canvas, #effacer_canvas
{
  height: 30px;
  padding-top: 4px;
  text-align: center;
  border : 2px solid #BADA55;
  border-radius: 8px;
  box-shadow: 4px 4px 4px darkgrey;
  transition: transform 0.3s;
  cursor: pointer;
}

#valider_canvas
{
  background-color: lightgreen;
}

#valider_canvas:hover
{
  background-color: green;
  color: white;
  transform: scale(1.2);
}

#effacer_canvas
{
  background-color: rgb(100, 100, 100);
  color: white;
}
#effacer_canvas:hover
{
  background-color: black;
  color: white;
  transform: scale(1.2);
}

#annuler_validation
{
  height: 30px;
  margin-top: 20px;
  padding-top: 4px;
  text-align: center;
  background-color: orange;
  border : 2px solid #BADA55;
  border-radius: 8px;
  box-shadow: 4px 4px 4px darkgrey;
  transition: transform 0.3s;
  cursor: pointer;
}

#annuler_validation:hover
{
  transform: scale(1.2);
  background-color: red;
  box-shadow: 10px 8px 8px darkgrey;
  color: white;
}
/* Définition media queries */

@media only screen and (max-width: 600px)
{

  h1
  {

    font-size: 2rem;
  }
  .slide img
  {
    width: 80%;
    height: auto;
    margin: 20px 0 30px 35px;
    box-shadow:  10px 10px 10px #3232321a;
  }

  #map_velo
  {
    height: 250px;
  }

  #resa_recap
  {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px)
{

  h1
  {
    top: 1.5rem;
    left: 1.8rem;
    font-size: 2rem;
  }
  fieldset
  {
    width: 18rem;
    height: 15rem;
  }
  #resa_submit
  {
    margin: 1rem 4rem 1rem 6rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px)
{
  header
  {
    height: 48rem;
  }
  h1
  {
    left: 20rem;
    font-size: 2.5rem;
  }
  .slide img
  {
    width: 600px;
    height: auto;
    margin: 2rem 1rem 2rem 11rem;
    box-shadow:  10px 10px 10px #3232321a;
  }
  #map_velo
  {
    width: 25rem;
    height: 20rem;
    margin: 2rem 5rem 2rem 0rem;
  }

  fieldset
  {
    width: 18rem;
    height: 15rem;
    margin: 5rem 3rem 2rem 0;
  }
  #resa_submit
  {
    margin: 1rem 4rem 1rem 6rem;
  }
}
