/* Définition du style de la page */

body
{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#bloc_page
{
  display: flex;
  flex-direction: column;
  align-items: center;
  /*margin: 0;
  padding: 0;*/
}

/* Style slider */

header
{
  position: relative;
  width: 100%;
  height: 500px;
  background-color: blue;
  overflow-x: : hidden;
}

h1
{
  position: absolute;
  z-index: 2;
  top: 1rem;
  left: 45rem;
  width: fit-content;
  font-size: 3rem;
}
#carousel_pano
{
  position: absolute;
  top: 6rem;
  width: 100%;
}

.marge
{
  margin: 1rem;
}
#overlay
{
  z-index: 3;
  position: absolute;
  top: 0;
  width: 100%;
  height: 500px;
  background-color: rgba(100,100,100,0.5);
  overflow-x: hidden;
}


/* Carousel */
.carousel{
  position: relative;
  overflow: hidden;
}

.carousel_item
{
  float: left;
  width: 22rem;
  height: 22rem;

  background-color: green;
}

.carousel_container {

  transition: transform 0.3s;
  transform: translate3d(0, 0, 0);
}

.carousel_container::after
{
  content: " ";
  clear: both;
  display: table;
}
.carousel_next, .carousel_prev
{
  position: absolute;
  z-index: 4;
  width: 40px;
  height: 40px;
  background-color: #000;
  background-size: 20px 20px;
  border-radius: 50%;
  top: 50%;
  margin-top: -20px;
  right: 20px;
  box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
  cursor: pointer;
  transition: 0.3s;
}
.carousel_next:hover, .carousel_prev:hover
{
  transform: scale(1.2);
}
.carousel_prev
{
  right: auto;
  left: 20px;
}
.carousel_prev-hidden, .carousel_next-hidden
{
  opacity: 0;
}

.carousel_pagination
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.caroussel_pagination_button
{
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
  box-shadow: 0 2px 5px #3232321a;
  transition: transform 0.3s;
  cursor: pointer;
  }

.caroussel_pagination_button-active, .caroussel_pagination_button:hover
{
  transform: scale(1.4);
}
/* Style section */

section
{
  width: 90%;
  margin-top: 2rem;
}

#container_section
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
#map
{
  width: 50rem;
  height: 20rem;
  margin-top: 2rem;
  background-color: orange;
}

fieldset
{
  width: 20rem;
  height: 15rem;
  box-sizing: border-box;
  margin-top: 2rem;
  background-color: white;
  border: 2px solid lightgrey;
  border-radius: 8px;
  box-shadow: 4px 4px 4px darkgrey;
}

legend
{
  padding: 2px 3px 2px 3px;
  background-color: inherit;
}

#nom
{
  margin-left: 1rem;
}
#prenom
{
  margin-top: 1rem;
}

#resa_submit
{
  margin: 1rem 4rem 1rem 7rem;
}


#resa
{
  text-align: center;
  font-size: 1.5rem;
}


/* Définition media queries */

@media only screen and (max-width: 600px)
{
  h1
  {
    top: 1.5rem;
    left: 1.8rem;
    font-size: 2rem;
  }
  fieldset
  {
    width: 18rem;
    height: 15rem;
  }
  #resa_submit
  {
    margin: 1rem 4rem 1rem 6rem;
  }
}

@media only screen and (max-width: 768px)
{
  h1
  {
    top: 1.5rem;
    left: 1.8rem;
    font-size: 2rem;
  }
  fieldset
  {
    width: 18rem;
    height: 15rem;
  }
  #resa_submit
  {
    margin: 1rem 4rem 1rem 6rem;
  }
}

@media only screen and (max-width: 992px)
{
  h1
  {
    top: 1rem;
    left: 20rem;
    font-size: 2.5rem;
  }
  fieldset
  {
    width: 18rem;
    height: 15rem;
  }
  #resa_submit
  {
    margin: 1rem 4rem 1rem 6rem;
  }
}
